p.tile-description {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    max-width: 60ch !important;
}
a {
    color: #e042f5;
}
html {
    background-color: #29423d;
    color: white;
}
button {
    margin: 0px 10px;
    padding: 10px 30px;
    padding: 5px 34px;
    border-radius: 3px;
    border: none;
    background: #e042f5;
    transition: ease-in-out .4s;
    color: white;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
    background: #dd00fa;
}

.cat {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 160px 50px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."; 
}
.header {
    width: 100%;
    display: flex;
    background-color: yellow;
    color: black;
}
.header a {
    padding: 10px;
}
.pages {
    padding-top: 90px;
}
.product-tile {
    padding: 10px;
    max-width: 150px;
    min-height: 200px;
    max-height: 200px;
    display: block;
    flex-direction: column;
}